### 1.

In [1]:
set_a = set([])
set_a.add(11)
set_a.add('apple')
set_a.add(False)

In [2]:
set_a

{11, False, 'apple'}

In [4]:
set_b = set([12, 'banana'])
set_a_b = set_a.union(set_b)

In [5]:
set_a_b

{11, 12, False, 'apple', 'banana'}

In [6]:
set_c = set(['apple'])
set_a_c = set_a.intersection(set_c)

In [7]:
set_a_c

{'apple'}

In [8]:
set_ab_min_c = set_a_b - set_c

In [9]:
set_ab_min_c

{11, 12, False, 'banana'}

In [10]:
set_a_b_ab_min_c = set_a_b.symmetric_difference(set_ab_min_c)

In [11]:
set_a_b_ab_min_c

{'apple'}

In [13]:
# If subtraction from the first set the second set will be len(0), the first set was in the second 
set_a1 = set([1,2,3,4])
set_a2 = set([1,2])
set_new = set_a2 - set_a1
print(len(set_new))

0

### 2.

In [1]:
dict_1 = {}

In [28]:
dict_1['key1'] = 'value1'
dict_1['key2'] = 'value2'
dict_1['key3'] = 'value3'
dict_1['key4'] = 1, 5, 6

In [29]:
dict_1

{'key2': 'value2', 'key3': 'value3', 'key1': 'value1', 'key4': (1, 5, 6)}

In [30]:
del dict_1['key1']

In [31]:
dict_1

{'key2': 'value2', 'key3': 'value3', 'key4': (1, 5, 6)}

In [32]:
dict_1.get('key2')

'value2'

In [33]:
print('Oh, it is a', dict_1.get('key2'))

Oh, it is a value2

In [34]:
print(sum(dict_1.get('key4')))

12

### 3.

In [15]:
dict_2 = {'key1' : 'value1', 'key2' : 'value2', 'key3' : (1,2,3,4)}

In [16]:
for key in dict_2.keys():
    print(key, end = '\n')
for value in dict_2.values():
    print(value, end = '\n')

key1
key2
key3
value1
value2
(1, 2, 3, 4)

In [18]:
for key, value in dict_2.items():
    print(key, value, end = '\n')

key1 value1
key2 value2
key3 (1, 2, 3, 4)

In [21]:
for i in dict_2:
    print(i, dict_2[i])

key1 value1
key2 value2
key3 (1, 2, 3, 4)

### 4.

In [2]:
s = input('Input the string: ')
if s[0].isupper():
    print('The string starts from the capital letter')
else:
    print('The string does not start from the capital letter')
sum_char = 0
for elem in s:
    if elem.isalpha() == True:
        sum_char += 1
print('Number of letter:', sum_char)
length_s = len(s)
if s.endswith('!!'):
    print('The string ends by !!')
else:
    print('The string does not end by !!')
print('"Fire" in the string', s.count('fire'))
print('Lower string:', s.lower())
print('Upper string:', s.upper())
print('Every word form capital letter:', s.title())

Input the string: Hello, it's a fire aa !!
The string starts from the capital letter
Number of letter: 15
The string ends by !!
"Fire" in the string 1
Lower string: hello, it's a fire aa !!
Upper string: HELLO, IT'S A FIRE AA !!
Every word form capital letter: Hello, It'S A Fire Aa !!

### 5.

In [103]:
s = input('Input the string ')
if s[0].isalpha() == True:
    print('The string starts from the letter')
elif s[0].isdigit() == True:
    print('The string starts from the digit')
elif s[0] == ' ':
    print('The string starts from the gap')
else:
    print('The string starts from smth else')

Input the string !Hello
The string starts from smth else

### 6.

In [109]:
string_1 = 'Hello'
list_1 = list(string_1)
set_1 = set(string_1)

In [110]:
list_2 = ['Hello', 'apple']
string_2 = str(list_2)
set_2 = set(list_2)

In [113]:
set_2 = {1,2,4,5,'apple'}
string_3 = str(set_2)
list_3 = list(set_2)

### 7.

In [124]:
string = 'agataca'
print(string[::-1])
print(''.join(reversed(string)))

chars = list(string)
for i in range(len(string) // 2):
    tmp = chars[i]
    chars[i] = chars[len(string) - i - 1]
    chars[len(string) - i - 1] = tmp
print(''.join(chars))

acataga
acataga
acataga

### 8.

In [130]:
def reverse_compl(dna):
    dictionary = {'a':'t', 't':'a', 'c':'g', 'g':'c'}
    compl = ''
    for elem in dna:
        compl += dictionary.get(elem)
    return compl[::-1]

dna = 'actgacggt'
print(reverse_compl(dna))

accgtcagt

In [131]:
dna_rev = dna[::-1]
dictionary = {'a':'t', 't':'a', 'c':'g', 'g':'c'}
compl = ''
for elem in dna_rev:
    compl += dictionary.get(elem)
print(compl)

accgtcagt