#### 1.

In [14]:
import sqlite3 as sql
import csv

In [2]:
connection = sql.connect('database.db')

In [3]:
connection.execute('''CREATE TABLE IF NOT EXISTS first (
                                                        id INTEGER PRIMARY KEY,
                                                        first_name TEXT,
                                                        last_name TEXT,
                                                        sex TEXT,
                                                        age TEXT,
                                                        profession TEXT
                                                        )''')

In [4]:
people = [('8312', 'Luke', 'Skywalker', 'male', '65', 'jedi'),
          ('5821', 'Leia', 'Organa', 'female', '55', 'general'),
          ('8483', 'Han', 'Solo', 'nodata', 'nodata', 'nodata')]

In [5]:
query = ''' INSERT INTO first VALUES (?, ?, ?, ?, ?, ?)'''

In [6]:
connection.executemany(query, people)

In [7]:
connection.commit()

In [8]:
connection.close()

In [9]:
connection = sql.connect('database.db')

In [10]:
sql = """
UPDATE first 
SET sex = 'male' 
WHERE last_name = 'Solo'
"""
connection.execute(sql)
connection.commit()

In [12]:
sql1 = """
DELETE
FROM first 
WHERE last_name = 'Organa'
"""
connection.execute(sql1)
connection.commit()

In [13]:
connection.execute('''CREATE TABLE IF NOT EXISTS second (
                                                        id INTEGER PRIMARY KEY,
                                                        name TEXT REFERENCES first(first_name) ON UPDATE CASCADE
                                                        )''')
connection.commit()
connection.close()

#### 2.

In [15]:
connection1 = sql.connect('clinicaltrials.db')

In [18]:
connection1.execute('''CREATE TABLE IF NOT EXISTS first(
                                                    rank INTEGER PRIMARY KEY,
                                                    title TEXT,
                                                    status TEXT,
                                                    results TEXT,
                                                    conditions TEXT,
                                                    interventions TEXT,
                                                    locations TEXT,
                                                    url TEXT
                                                    )''' )

In [25]:
with open('/Users/olgamazur/Downloads/SearchResults.csv') as csvfile:
    myCSVReader = csv.DictReader(csvfile)
    to_db = [(i['Rank'], i['Title'], i['Status'], i['Study Results'], \
             i['Conditions'], i['Interventions'], i['Locations'], i['URL']) for i in myCSVReader]

In [28]:
connection1.executemany("INSERT INTO first (rank, title, status, results, conditions, interventions, locations, url) VALUES (?, ?, ?, ?, ?, ?, ?, ?);", to_db)
connection1.commit()